<!DOCTYPE html>
<html>
  <head>
    <title>Create New Gallery</title>
    <link rel="stylesheet" href="/css/gallery.css">
  </head>

  <body>
    <a href="/galleries">&larr; Gallery index</a>

    <h1>Create New Gallery</h1>

    <form action="/gallery/create" enctype="multipart/form-data" method="POST">
      <label for="new-gallery-name">Name:</label>
      <input type="text" name="name" id="new-gallery-name">

      <label for="new-gallery-category">Category:</label>
      <input type="text" name="category" id="new-gallery-category">

      <label for="new-gallery-password">Password:</label>
      <input type="text" name="password" id="new-gallery-password">
      <span class="hint">Leave blank to make gallery public.</span>

      <label for="files">Files:</label>
      <input type="file" name="files" multiple="multiple">

      <input type="submit" value="Upload">
    </form>

  </body>
</html>


