<!DOCTYPE html>
<html>
  <head>
    <title>Create New Gallery</title>
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>
    <header>
      <div class="logged-out">
        <form id="login-form" action="login" method="POST">
          <label for="login-password">Password:</label>
          <input id="login-password" name="password">

          <input type="submit" value="Log in" name="submit_button">
        </form>
      </div>

      <div class="logged-in">
        <form id="logout-form" action="logout" method="POST">
          <input type="submit" value="Log out" name="submit_button">
        </form>
      </div>

    </header>

    <h1>Create New Gallery</h1>

    <div class="logged-out">
      <p>Log in to begin uploading.</p>
    </div>

    <form class="logged-in" action="/gallery/create" enctype="multipart/form-data" method="POST">
      <h2>Create New Gallery</h2>
      <label for="name">Name:</label>
      <input name="name">
      <br>
      <label for="category">Category:</label>
      <input name="category">
      <br>
      <label for="files">Files:</label>
      <input type="file" name="files" multiple="multiple">
      <br>
      <input type="submit" value="Upload">
    </form>

  </body>
</html>


