<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <title><%= title %> . photo.andyf.me</title>

    <link href='//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic|Open+Sans:300italic,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/gallery.css">
  </head>

  <body>
    <div id="main" class="gallery">
      <a href="<%= edit_url %>" class="admin-function">edit gallery</a>

      <h1 class="page-title"><%= title %> . <a href="/">photo</a> <a href="//andyf.me/">andyf.me</a></h1>

      <ul id="thumbnails" class="thumbnails"></ul>
      <div id="image_wrapper">
        <button id="prev_image" data-back="true">‹</button>
        <img id="full_image">
        <button id="next_image">›</button>
      </div>

      <script type="text/template" id="thumbnails_template">
        {{#images}}
        <li><a href="/gallery_image/{{filename}}.jpg" rel="quickslide"
          title="{{title}}" id="thumb_{{filename}}" data-hash="{{filename}}"><img src="{{thumb_url}}">{{title}}</a></li>
        {{/images}}
      </script>

    </div>

    <script>
      var images = <%- images %>;
    </script>
    <script src="/js/lib/jquery-2.0.0.min.js"></script>
    <script src="/js/lib/mustache.js"></script>
    <script src="/js/gallery_show.js"></script>
  </body>
</html>


