<!DOCTYPE html>
<html>
  <head>
    <title>Image Galleries</title>
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>
    <header>
      <a href="/gallery/new">New gallery</a>
    </header>

    <h1>Image Gallery</h1>

    <!--
    <script src="js/lib/jquery2-min.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    <script src="js/main.js"></script>
    -->

  </body>
</html>

