html {
    background: #333;
}

body {
    color: #eee;
    background: none;
}

#main {
    position: relative;
    background: none;
    padding: 1em 3em;
}

#main.gallery {
    max-width: none;
    margin: 1em;
}

body.logged-in .logged-out,
body.logged-out .logged-in {
    display: none;
}

h1 {
    color: #ddd;
    text-shadow:
        0 -1px 0 #444,
        0 -2px 3px rgba(255,255,255, 0.2);
    display: block;
}

a {
    color: #abc;
    text-decoration: none;
}

a:visited {
    color: #89a;
}

a:hover {
    color: #def;
}

input {
    font: inherit;
    font-size: 100%;
}

a.admin-function {
    position: absolute;
    top: 1em;
    right: 3em;
}

li:before {
    content: "";
}

ul.gallery-list > li {
    padding-left: 20px;
    list-style: none;
}

ul.gallery-list > li.private {
    background-image: url("/media/padlock-icon.png");
    background-position: left;
    background-repeat: no-repeat;
}

form {
    overflow: hidden;
    margin-bottom: 1em;
}

form label,
form input,
form .hint {
    display: block;
    float: left;
    margin-bottom: 1em;
    padding: 0.2em 0.5em;
    line-height: 1.25;
    border: none;
    vertical-align: middle;
}

form label {
    width: 6em;
    clear: both;
}

form input[type="text"],
form input[type="password"] {
    border-radius: 3px;
    box-shadow:
        inset 1px 1px 2px rgba(0,0,0, 0.2);
}

#upload-form input[type="text"],
#upload-form input[type="password"] {
    width: 15em;
}

form .hint {
    margin-left: 1em;
    font-size: 80%;
}

input[type="submit"],
button,
a.button {
    clear: both;
    border-radius: 4px;
    background: #eee;
    box-shadow:
        inset 1px 1px 0 #fff,
        inset -1px -1px 1px rgba(0,0,0,0.3),
              0 1px 2px -2px rgba(0,0,0,0.4);
    border-width: 1px;
    border-style: solid;
    border-color: #bbb #000 #000 #bbb;

    cursor: pointer;
}

input[type="submit"]:hover,
button:hover,
a.button:hover {
    background: #fff;
}

#upload-status {
    line-height: 2;
}

#upload-progress-bar {
    width: 20em;
    margin-right: 1em;
}

.error {
    color: #ef2222;
}

.success {
    color: #22c022;
}

ul.thumbnails {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.thumbnails > li {
    position: relative;
    list-style: none;
    margin: 0;
    margin-right: 1em;
    margin-bottom: 1.5em;
    padding: 0.5em;
    display: inline-block;
    text-align: center;
    max-width: 202px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

ul.thumbnails input[type="checkbox"] {
    display: none;
}

ul.thumbnails input[type="checkbox"] + label {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0.5em;
    right: 0.5em;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    background: rgba(64,0,0, 0.6);
    box-shadow: 0 2px 3px rgba(0,0,0, 0.4);
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 3px;
}

ul.thumbnails input[type="checkbox"]:checked + label {
    background: rgba( 80, 0, 0, 0.9 );
}

ul.thumbnails input[type="checkbox"] + label:hover {
    background: rgba( 80, 0, 0, 0.9 );
}

ul.thumbnails input[type="checkbox"] + label:before {
    content: "";
}

ul.thumbnails input[type="checkbox"]:checked + label:before {
    content: "✗";
    font-weight: bold;
    color: #f00;
}

ul.thumbnails input[type="checkbox"]:checked + label + img {
    background: #000;
    opacity: 0.3;
}

ul.thumbnails > li img {
    display: block;
    position: relative;
    margin: 0 auto 0.5em;
    box-shadow: 0 4px 7px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255, 0.1);
}

ul.thumbnails a:hover img {
    border: 1px solid rgba(255,255,255, 0.4);
}

ul.thumbnails a:active img {
    top: 2px;
    box-shadow: 0 2px 7px rgba(0,0,0,0.3);
}

#quickslide-dimmer {
    background: rgba(0,0,0,0.7);
}

#quickslide-popup-box {
    padding: 1em;
    background: #333;
    border: 1px solid #000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    background-image: url("/media/loading-bar.gif");
    background-repeat: no-repeat;
    background-position: center;
}

#quickslide-popup-box.loading {
    width: 128px;
    height: 15px;
}

#quickslide-popup-box.loaded {
    background-image: none;
}

#quickslide-image {
    border: 1px solid rgba(255,255,255, 0.1);
}

#quickslide-caption {
    margin-top: 0.5em;
    text-align: center;
}

