html {
    padding: 0;
    margin: 0;
    background: #555;
    color: #eee;
    font: 16px/1.6 "Tahoma";
}

body {
    margin: 1em auto;
    padding: 1em 3em;
    max-width: 60em;
    background: #333;
    border: 1px solid #000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

h1, h2, h3, h4 {
    font-weight: normal;
}

a {
    color: #abc;
    text-decoration: none;
}

a:hover {
    color: #def;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.thumbnails > li {
    list-style: none;
    margin: 0;
    margin-right: 1em;
    margin-bottom: 1.5em;
    padding: 0;
    display: inline-block;
    text-align: center;
}

ul.thumbnails > li img {
    display: block;
    position: relative;
    margin-bottom: 0.5em;
    box-shadow: 0 4px 7px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255, 0.1);
}

ul.thumbnails a:hover img {
    border: 1px solid rgba(255,255,255, 0.4);
}

ul.thumbnails a:active img {
    top: 2px;
    box-shadow: 0 2px 7px rgba(0,0,0,0.3);
}


#quickslide-dimmer {
    background: rgba(0,0,0,0.6);
}

#quickslide-popup-box {
    padding: 1em;
    background: #333;
    border: 1px solid #000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    background-image: url("/media/loading-bar.gif");
    background-repeat: no-repeat;
    background-position: center;
}

#quickslide-popup-box.loading {
    width: 128px;
    height: 15px;
}

#quickslide-popup-box.loaded {
    background-image: none;
}

#quickslide-image {
    border: 1px solid rgba(255,255,255, 0.1);
}

#quickslide-caption {
    margin-top: 0.5em;
    text-align: center;
}

